.header-box {
    margin: 40px auto;
    width: fit-content;
    text-align: center;
    @include text-styles;
    letter-spacing: 5px;
    border-bottom: 4px solid black;
}
.img-link {
    position: relative;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s ease;
}

.overlay--text {
    @include text-styles(white, 60px);
    letter-spacing: 5px;
}

.img-link:hover .overlay {
    opacity: 0.6;
}